
{% extends 'common.html' %}

{% block menu %}
    {% include 'main_menu.html' %}
{% endblock %}

{% block content %}

 <form action="{% url 'register' %}" method="post">
    {% csrf_token %}
    <table align="center" border="0">
        <tr>
            <th><h3>Registration Page</h3></th>
        </tr>
        <tr>
            <td>
                <input
                        type="text"
                        placeholder="Name"
                        name="name"
                        required
                        class="form-control"
                        aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-default">
            </td>
        </tr>
        <tr>
            <td>
                <input
                        type="number"
                        placeholder="Contact No"
                        name="contact"
                        required
                        class="form-control"
                        aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-default">
            </td>
        </tr>

        <tr>
            <td>
                <input
                        type="text"
                        placeholder="Location"
                        name="location"
                        required
                        class="form-control"
                        aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-default">
            </td>
        </tr>
        <tr>
            <td>
                <input
                        type="email"
                        placeholder="Email(Username)"
                        name="email"
                        required
                        class="form-control"
                        aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-default">
            </td>
        </tr>
    <tr>
        <td>
            <input
                        type="password"
                        placeholder="Password"
                        name="password"
                        required
                        class="form-control"
                        aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-default">
        </td>
    </tr>
    <tr>
        <th>
            <button type="submit">Register</button>
        </th>
    </tr>

        {% if message %}
            <tr>
                <th>
                        <div class="alert alert-danger" role="alert">
                            {{ message }}
                        </div>
                </th>
            </tr>
        {% endif %}

    </table>
 </form>

{% endblock %}