<!DOCTYPE html>
<html lang="en">
<body>

    <h1>MATHS</h1>

    <form method="post" action="/register/">


        </tr><input type="number", placeholder="First Number" name="v1">

        <br><br>

        <input type="number", placeholder="Second Number" name="v2">

        <br><br>

        <button onclick= "v1+v2" name="b1" type="submit" value="add"> + </button>
        <button onclick= "v1-v2" name="b2" type="submit" value="sub"> - </button>
        <button onclick= "v1*v2" name="b3" type="submit" value="mul"> * </button>
        <button onclick= "v1/v2" name="b4" type="submit" value="div"> / </button>

        <br><br>



    </form>

</body>
</html>